body{
    margin: 0px;
    background-image: url("https://tecnovortex.com/wp-content/uploads/2019/04/wallpaper-engine.jpg");
    background-size: cover;
margin: 0px;;
}
.container {
    max-width: 100%;
    max-height: auto;
    color: white;
}

.text {
    font-size: 50px;
}

.nice {
    font-size: 30px;
}

#login {
    max-width: 20%;
    max-height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: dotted black 1px;
    padding: 40px;
    background-color: #FF5733;
}

.button {
    margin-top: 10px;
    margin-left: 110px;
    background-color: #ff3b4d;
    border: none;
    font-size: 20px;
    padding: 20px;
    color: white;
}

.button:hover{
    opacity: 0.8;
}